extends ./app.jade
block sidebar
  .d-flex.flex-column.p-3(style='width: 280px;')
    a.d-flex.align-items-center.mb-3.mb-md-0.me-md-auto.link-dark.text-decoration-none(href='/')
    h1 &#128000 Rat race
block content
  h1 Error eroor rooooororororr  this is error man erorror page crashed lol
