extends ./app.jade

block content
  div(class='row')
    div(class="col-auto justify-content-center mt-5")
      h2 Your marks are in your hands!
  form(action='/room', method='post', class='row g3 justify-content-center gap-3 mt-3')
    div(class="col-auto ")
      div(data-role='fieldcontain')
        fieldset(data-role='controlgroup')
          label(for='Room name')
            input(id='Room name',type='text',value='',name='name', class="form-control")
    div(class="col-auto")
      div(data-role='fieldcontain')   
        input(type='submit',value='Create room', class='btn btn-primary mb-3')
