extends ./app.jade
block sidebar
  .d-flex.flex-column.p-3(style='width: 280px;')
    a.d-flex.align-items-center.mb-3.mb-md-0.me-md-auto.link-dark.text-decoration-none(href='/')
    h1 &#128000 Rat race
block content
  .p-5.rounded-lg.m-3
    .row.g3.justify-content-center.gap-3.mt-3(style='text-align:center')
        div(class='row')
          h3 Room #{name} created!      
        div(class='row')
          h4 You can access it using
        div(class='row')
          a(href='#{roomUrl}') #{roomUrl}
      